# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
pids/
*.pid
*.seed

# Build
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Misc
coverage/

# MongoDB local dump
dump/

# Optional: local npm cache
.npm
